*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    height: 100%;
    font-size: 62.5%; // 1rem = 10px/16px = 62.5
}

@mixin responds($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content;
        } // 600px / 16
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            @content;
        } // 900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
            @content;
        } // 1200px
    }
    @if $breakpoint == pc {
        @media (min-width: 112.5em) {
            @content;
        } // +1800px
    }
}

body {
    font-family: "ar2", serif;
    color: rgba($black, 0.8);
}
h3,
h4 {
    font-family: "ar4", serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    display: block;
    background-color: $white;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: $margin2;
    width: 100%;
    max-width: 86%;
    margin: 0 auto;
}
@include responds(phone) {
    .content {
        display: block;
        font-size: 2rem;
    }
}

button {
    width: 10rem;
    height: 4rem;
    border: 2px solid $purple2;
    background-color: $white;
    border-radius: 5px;
    color: $purple2;
    transition: all 0.2s ease-in;
    line-height: 2.4;
    margin-top: $margin2;
    &:hover {
        background-color: $purple2;
        color: $white;
        a {
            color: $white;
        }
    }
    a {
        text-decoration: none;
        display: block;
    }
}

/* LTR */
[class*="heb"] {
    direction: rtl;
}
