$white: #fff;
$black: #000;
$blueFoam: #9dddee;
$bulbs: #4e0875;
$wire: #7800a5;

$purple1: rgb(65, 5, 133);
$purple2: rgb(110, 18, 200);
$purple3: rgb(164, 2, 250);
$purple4: #9c07ff;
$purple5: #b440f7;
$purple6: #b500c5;

$colors: $purple4, $purple5, $purple6;
$default-font-size: 1.6rem;

$margin2: 2.5rem;
$headerHeight: 48rem;
$navHeight: 6rem;
