$white: #fff;
$black: #000;
$test: #a6ff00;
$bulbs: #4e0875;
$wire: #7800a5;

$purple1: rgb(65, 5, 133);
$purple2: rgb(110, 18, 200);
$purple3: rgb(164, 2, 250);

$default-font-size: 1.6rem;

$margin2: 2.5rem;
$headerHeight: 48rem;
$navHeight: 6rem;
