$white: #fff;
$black: #000;
$blueFoam: #00c3ff;
$blueLight: #18ccdf;
$bluebg: #2482d8;
$linkhighlighter: #22d2ff;
$errorPage: #eceddc;

$purple1: #410585;
$purple2: #6e12c8;
$purple3: #a402fa;
$purple4: #9c07ff;
$purple5: #b440f7;
$purple6: #b500c5;
$purple7: #4f44fd;
$purple8: #e6119c;

$colors: $purple4, $purple5, $purple6;
$default-font-size: 1.6rem;

$margin2: 2.5rem;
$headerHeight: 48rem;
$navHeight: 6rem;
