.wrapper.home {
    .content {
        .listing {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: $margin2;
            &.fade-in {
                opacity: 0;
                transform: translateY(60px);
                transition: all 0.3s ease-in;
            }
            &.fade-in.appear {
                opacity: 1;
                transform: translateY(0);
            }

            &-art {
                width: 50%;
                border: 1px solid $white;
            }
            &-text {
                width: 50%;
                justify-content: left;
                padding-left: 5px;
            }
        }
    }
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
