.listing {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: $margin2;
    &.fade-in {
        opacity: 0;
        transform: translateY(60px);
        transition: all 0.3s ease-in;
    }
    &.fade-in.appear {
        opacity: 1;
        transform: translateY(0);
    }
    &-art {
        width: 50%;
        background-image: radial-gradient($blueFoam 35%, transparent 35%);
        background-size: 6px 6px;
        background-position: -50% 40%;
    }
    img {
        clip-path: polygon(27px 12px, 117.19% 25.97%, 79.16% 112.72%, 0px 88%, -5.14% 37.69%);
        -webkit-clip-path: polygon(27px 12px, 117.19% 25.97%, 79.16% 112.72%, 0px 88%, -5.14% 37.69%);
        border: 4px solid $blueFoam;
        border-radius: 50%;
        transform: rotate(10deg);
    }
    figcaption {
        background: white;
    }
    &-text {
        width: 50%;
        justify-content: left;
        padding-left: $margin2;
    }
    &:nth-of-type(even) {
        flex-direction: row-reverse;
        .listing-art {
            text-align: right;
            background-image: radial-gradient($purple8 35%, transparent 35%);
        }
        img {
            border: 4px solid $purple8;
            border-radius: 50%;
            transform: rotate(-10deg);
            clip-path: polygon(20px 72px, 107.93% -2.9%, 104.95% 119.45%, 0px 88%, -17.2% 33.48%);
            -webkit-clip-path: polygon(20px 72px, 107.93% -2.9%, 104.95% 119.45%, 0px 88%, -17.2% 33.48%);
        }
        .listing-text {
            padding-left: 0;
            padding-right: $margin2;
        }
    }
}

@include responds(tab-port) {
    .listing {
        width: 100%;
        display: block;
        text-align: center;
        padding-top: 4rem;
        &-art,
        &-text {
            width: 100%;
        }
    }
    [class^="listing-text-"] {
        width: 80%;
        margin: $margin2 auto;
    }

    img {
        width: 44%;
    }
}

@include responds(phone-land) {
    .listing {
        &.fade-in {
            opacity: 1;
        }
    }
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
