.skills {
    .content {
        display: flex;
    }
    section {
        border: 1px solid $black;
    }
    article {
        h3 {
            display: block;
            width: 100%;
        }
        li {
            list-style-type: none;
            line-height: 2;
            font-size: 2rem;
            display: inline;
        }
    }
}
