.skills {
    .content {
        display: flex;
    }
    article {
        margin: 0 auto;
        width: 100%;
    }
    &-links {
        border: 1px solid $black;
        display: flex;
        flex-direction: row;
        margin-bottom: $margin2;
        span {
            display: flex;
            width: 50%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }
    &-lists {
        span {
            display: inline-flex;
            border: 1px solid red;
            margin: 5px;
            border-radius: 3px;
            padding: $margin2;
            li {
                list-style-type: none;
                line-height: 2;
                display: inline-block;
            }
        }
    }
}
