footer {
    background-color: $white;
    color: $black;
    font-size: 1.4rem;
    height: 6rem;
    @include gradient(45deg, $list1);
    display: block;
    text-align: center;
    padding: 2rem;
    span {
        color: $white;
        a {
            color: inherit;
        }
    }
}
