.footer {
    background-color: $white;
    color: $black;
    font-size: 1.6rem;
    height: 6rem;
    @include gradient(45deg, $list1);
    display: block;
    text-align: center;
    margin-top: auto;
    span {
        color: $white;
        a {
            color: inherit;
        }
    }
    &-logo {
        position: relative;
        top: 1rem;
        left: -6px;
        display: inline-block;
        transform: scale(0.6);
        height: 42px;
    }
    .footer-svg {
        fill: #fff;
        stroke: #fff;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }
}
