.footer {
    display: flex;
    justify-content: space-around;
    background-color: $white;
    color: $black;
    height: 6rem;
    @include gradient(45deg, $list1);
    margin-top: auto;
    color: $white;
    span {
        font-size: 1.4rem;
        width: 33%;
        padding: 5px;
        padding: $margin2 0;

        &:last-of-type {
            width: 8%;
            padding: 1rem 0;
        }
    }
    &-link {
        color: inherit;
        display: inline-flex;
    }

    &-logo {
        position: relative;
        display: block;
    }
    .footer-svg {
        fill: #fff;
        stroke: #fff;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }
}
