.header {
	background: rgb(65, 5, 133);
	@include gradient(45deg, $list1);
	&-hero {
		height: $headerHeight;
	}
	&-art {
		display: flex;
		justify-content: space-between;
		position: relative;
		height: calc(100% - #{$navHeight});
		.header-figure-ao {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}
		a.header-link {
			display: block;
			// border: 1px solid white;
			.header-svg {
				stroke-linecap: square;
			}
		}
	}
	&-figure-icons {
		width: 50%;
		.header-icon {
			filter: invert(1);
		}
	}

	nav {
		display: flex;
		background-color: rgba($black, 0.3);
		font-size: 1.6rem;
		justify-content: flex-end;
		height: $navHeight;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		li {
			display: flex;
			align-items: center;
			list-style-type: none;
			margin-right: 2rem;
			display: inline;
		}
		a {
			color: $white;
			text-decoration: none;
			font-size: 2rem;
		}
	}
	@include responds(phone) {
		nav {
			display: block;
			font-size: 2rem;
		}
	}
	@include responds(tab-land) {
	}

	@include responds(tab-port) {
		overflow: hidden;
		&-hero {
			height: 32rem;
		}
		&-icon {
			opacity: 0.4;
			position: absolute;
			top: -6rem;
			left: -8rem;
		}
		&-figure-icons {
		}
	}

	@include responds(phone) {
		&-svg {
			position: absolute;
			transform: translate(10px, 10px);
			top: -2px;
			left: 1rem;
			width: 90%;
		}
	}
}

@keyframes even-bulb {
	0%,
	100% {
		background: rgba(255, 230, 65, 1);
		box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 1);
	}
	50% {
		background: rgba(255, 230, 65, 0.5);
		box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 0.3);
	}
}

@keyframes odd-bulb {
	50% {
		background: rgba(255, 65, 185, 1);
		box-shadow: 0px 2px 20px 4px rgba(255, 65, 185, 1);
	}
	0%,
	100% {
		background: rgba(255, 65, 185, 0.7);
		box-shadow: 0px 2px 20px 4px rgba(255, 65, 185, 0.5);
	}
}

@keyframes actual-odd-bulb {
	20% {
		background: rgba(255, 230, 65, 1);
		box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 1);
	}
	0%,
	10% {
		background: rgba(255, 230, 65, 1);
		box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 1);
	}
}

@keyframes moveRight {
	0%,
	10% {
		transform: translateX(0);
		opacity: 0;
	}
	20%,
	80% {
		opacity: 1;
	}
	90%,
	100% {
		transform: translateX(10em);
		opacity: 0;
	}
}
