:root {
    --color-bg: #fff;
    --text-color: #444;
    --figCaption-clr: #fff;
    --selectHighLight: #22d2ff;
}
::selection {
    background: var(--selectHighLight); /* WebKit/Blink Browsers */
}

.wrapper {
    background-color: var(--color-bg);
    color: var(--text-color);
    figcaption {
        background-color: var(--figCaption-clr);
    }
    &.err {
        h1,
        p {
            background-color: var(--color-bg);
        }
    }
}

[data-theme="dark"] {
    --color-bg: #1f3740;
    --text-color: #eca493;
    --figCaption-clr: #1f3740;
    --selectHighLight: #6403d9;
}
