html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: "volt";
  src: url("fonts/Voltaire-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bernie";
  src: url("fonts/BERNIERRegular-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: "volt", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.content {
  display: block;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 2.5rem;
  width: 100%;
  max-width: 86%;
  margin: 0 auto;
}
@media (max-width: 37.5em) {
  .content {
    display: block;
    font-size: 2rem;
  }
}
button {
  width: 10rem;
  height: 4rem;
  border: 2px solid #6e12c8;
  background-color: #fff;
  border-radius: 5px;
  color: #6e12c8;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  line-height: 2.4;
  margin-top: 2.5rem;
}
button:hover {
  background-color: #6e12c8;
  color: #fff;
}
button:hover a {
  color: #fff;
}
button a {
  text-decoration: none;
}
[class*="heb"] {
  direction: rtl;
}
.header {
  background: #410585;
  background: linear-gradient(45deg, #410585, #6e12c8, #a402fa);
}
.header-hero {
  height: 48rem;
}
.header-art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: calc(100% - 6rem);
}
.header-art-icons {
  width: 50%;
}
.header-art figure {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-art a.header-link .header-svg {
  width: 188%;
  stroke-linecap: square;
}
.header-icons {
  width: 50%;
  opacity: 0.68;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.header-icons .header-icon {
  -webkit-filter: invert(1);
  filter: invert(1);
  position: absolute;
  height: 4rem;
}
.header-icons .header-icon.ai {
  top: 5rem;
  left: 5rem;
}
.header-icons .header-icon.psd {
  top: 2rem;
  left: 26rem;
}
.header-icons .header-icon.idd {
  top: 28rem;
  left: 20rem;
}
.header-icons .header-icon.css {
  top: 16rem;
  left: 34rem;
}
.header-icons .header-icon.html {
  top: 24rem;
  left: 60rem;
  height: 7rem;
}
.header-icons .header-icon.js {
  top: 12rem;
  left: 18rem;
}
.header-icons .header-icon.ppr {
  top: 14rem;
  left: 5.5rem;
}
.header-icons .header-icon.git {
  top: 2rem;
  left: 48rem;
}
.header-icons .header-icon.ae {
  top: 31rem;
  left: 31rem;
}
.header-icons .header-icon.sql {
  top: 28rem;
  left: 48rem;
}
.header-icons .header-icon.office {
  top: 22rem;
  left: 44rem;
}
.header-icons .header-icon.sass {
  top: 6rem;
  left: 40rem;
}
.header-icons .header-icon.wp {
  top: 12.5rem;
  left: 54rem;
}
.header-icons .header-icon.react {
  top: 8rem;
  left: 64rem;
}
.header-icons .header-icon.nodejs {
  top: 24rem;
  left: 6rem;
}
.header-icons .header-icon.apple {
  top: 20rem;
  left: 26rem;
}
.header-icons .header-icon.small {
  height: 2.3rem;
}
.header-icons .header-icon.big {
  height: 5rem;
}
.header ul.wire {
  display: none;
  text-align: left;
  width: 100%;
  position: absolute;
  top: -82px;
  border-bottom: 3px solid #7800a5;
  white-space: nowrap;
  padding: 0 8rem;
  height: 100px;
}
.header ul.wire li {
  position: relative;
  list-style: none;
  margin: 0 15px;
  padding: 0;
  display: inline-block;
  width: 15px;
  height: 30px;
  border-radius: 50%;
  top: 102px;
  background: #fff;
  -webkit-animation-name: even-bulb;
  animation-name: even-bulb;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.header ul.wire li:nth-child(odd) {
  -webkit-animation-name: odd-bulb;
  animation-name: odd-bulb;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.header ul.wire li:nth-child(4) {
  -webkit-animation-name: actual-odd-bulb;
  animation-name: actual-odd-bulb;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 8;
  animation-iteration-count: 8;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.header ul.wire li:before {
  content: "";
  position: absolute;
  border-radius: 5px;
  width: 15px;
  height: 10px;
  background: #4e0875;
  top: -5px;
  left: 0;
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 6rem;
}
.header nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  margin-right: 2rem;
}
.header nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}
@media (max-width: 37.5em) {
  .header nav {
    display: block;
    font-size: 2rem;
  }
}
@-webkit-keyframes even-bulb {
  0%,
  100% {
    background: #ffe641;
    -webkit-box-shadow: 0 2px 20px 4px #ffe641;
    box-shadow: 0 2px 20px 4px #ffe641;
  }
  50% {
    background: rgba(255, 230, 65, 0.5);
    -webkit-box-shadow: 0 2px 20px 4px rgba(255, 230, 65, 0.3);
    box-shadow: 0 2px 20px 4px rgba(255, 230, 65, 0.3);
  }
}
@keyframes even-bulb {
  0%,
  100% {
    background: #ffe641;
    -webkit-box-shadow: 0 2px 20px 4px #ffe641;
    box-shadow: 0 2px 20px 4px #ffe641;
  }
  50% {
    background: rgba(255, 230, 65, 0.5);
    -webkit-box-shadow: 0 2px 20px 4px rgba(255, 230, 65, 0.3);
    box-shadow: 0 2px 20px 4px rgba(255, 230, 65, 0.3);
  }
}
@-webkit-keyframes odd-bulb {
  50% {
    background: #ff41b9;
    -webkit-box-shadow: 0 2px 20px 4px #ff41b9;
    box-shadow: 0 2px 20px 4px #ff41b9;
  }
  0%,
  100% {
    background: rgba(255, 65, 185, 0.7);
    -webkit-box-shadow: 0 2px 20px 4px rgba(255, 65, 185, 0.5);
    box-shadow: 0 2px 20px 4px rgba(255, 65, 185, 0.5);
  }
}
@keyframes odd-bulb {
  50% {
    background: #ff41b9;
    -webkit-box-shadow: 0 2px 20px 4px #ff41b9;
    box-shadow: 0 2px 20px 4px #ff41b9;
  }
  0%,
  100% {
    background: rgba(255, 65, 185, 0.7);
    -webkit-box-shadow: 0 2px 20px 4px rgba(255, 65, 185, 0.5);
    box-shadow: 0 2px 20px 4px rgba(255, 65, 185, 0.5);
  }
}
@-webkit-keyframes actual-odd-bulb {
  20% {
    background: #ffe641;
    -webkit-box-shadow: 0 2px 20px 4px #ffe641;
    box-shadow: 0 2px 20px 4px #ffe641;
  }
  0%,
  10% {
    background: #ffe641;
    -webkit-box-shadow: 0 2px 20px 4px #ffe641;
    box-shadow: 0 2px 20px 4px #ffe641;
  }
}
@keyframes actual-odd-bulb {
  20% {
    background: #ffe641;
    -webkit-box-shadow: 0 2px 20px 4px #ffe641;
    box-shadow: 0 2px 20px 4px #ffe641;
  }
  0%,
  10% {
    background: #ffe641;
    -webkit-box-shadow: 0 2px 20px 4px #ffe641;
    box-shadow: 0 2px 20px 4px #ffe641;
  }
}
@-webkit-keyframes moveRight {
  0%,
  10% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  100%,
  90% {
    -webkit-transform: translateX(10em);
    transform: translateX(10em);
    opacity: 0;
  }
}
@keyframes moveRight {
  0%,
  10% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  100%,
  90% {
    -webkit-transform: translateX(10em);
    transform: translateX(10em);
    opacity: 0;
  }
}
.path {
  stroke-dasharray: 860;
  stroke-dashoffset: 840;
  -webkit-animation: dash 4s linear forwards;
  animation: dash 4s linear forwards;
  -webkit-transform-origin: 50% 50%;
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.footer {
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  height: 6rem;
  background: linear-gradient(45deg, #410585, #6e12c8, #a402fa);
  display: block;
  text-align: center;
  margin-top: auto;
}
.footer span {
  color: #fff;
}
.footer span a {
  color: inherit;
}
.footer-logo {
  position: relative;
  top: 1rem;
  left: -6px;
  display: inline-block;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  height: 42px;
}
.footer .footer-svg {
  fill: #fff;
  stroke: #fff;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.wrapper.home .content .listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.wrapper.home .content .listing.fade-in {
  opacity: 0;
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.wrapper.home .content .listing.fade-in.appear {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.wrapper.home .content .listing-art {
  width: 50%;
  border: 1px solid #fff;
}
.wrapper.home .content .listing-text {
  width: 50%;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  padding-left: 5px;
}
@-webkit-keyframes fadeEffect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeEffect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.skills .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skills article {
  width: 50%;
}
.skills ul li {
  list-style-type: none;
  line-height: 2;
  font-size: 2rem;
}
.wrapper.project {
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper.project .project {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1px solid red;
  order: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wrapper.project .project .project-intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.wrapper.project .project .project-intro figure {
  width: 50%;
}
.wrapper.project .project .project-intro ul {
  width: 50%;
}
.wrapper.project .project ul {
  margin-top: 2.5rem;
}
.wrapper.project .project ul li {
  line-height: 2;
}
.wrapper.project .project figure {
  margin: 2.5rem 0;
}
.wrapper.project .project [class*="project-text-"] {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 2.5rem 0;
  width: 100%;
  max-width: 80rem;
  margin: 2.5rem auto;
}
.wrapper.project button {
  border-radius: 3px;
  position: fixed;
  bottom: 8rem;
  left: 0;
  width: 6rem;
  height: 4rem;
  font-size: 1.4rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.wrapper.project button a {
  color: #000;
}
.wrapper.project button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.wrapper.project button:hover a {
  color: #fff;
}
