@font-face {
    font-family: "volt";
    src: url("fonts/Voltaire-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bernie";
    src: url("fonts/BERNIERRegular-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
