---
layout: "/layout/home.njk"
templateClass: "err"
title: "404 Not Found"
permalink: "404.html"
listTEST: "/assets/img/choc_Pexels_FreeStockPhoto.png"
---
{% block home %}
<article>
    <h1>{{ title }}</h1>
    <p>Enter The Donut Hole</p>

    <a href="{{ "/" | url }}"></a>
    <figure>
    <img src="{{ listTEST }}" alt="me"/>
</figure></a>
</article>{% endblock home %}