---
layout: "/layout/home.njk"
templateClass: "err"
title: "404 Not Found"
permalink: "404.html"
listTEST: "/assets/img/listTest.png"
---
{% block home %}
<article>
    <h1>{{ title }}</h1>
    <p>Here's a random photo of a dog</p>

    <a href="{{ "/" | url }}"></a><img src="{{ listTEST }}" alt="me"/></a>
</article>{% endblock home %}