---
layout: "/layout/home.njk"
templateClass: "err"
title: "404 Not Found"
permalink: "404.html"
listTEST: "/assets/img/listTest.png"
---
{% block home %}
<h1>{{ title }}</h1>
<p>Here's a link to the
    <a href="{{ "/" | url }}">home page</a>
</p>{% endblock home %}
<img src="listTEST" alt="me" />