---
layout: "layout/home.njk"
title: "home"
description: "index page"
listingA: "assets/img/listingA450x215.png"
---




{% block home %}
    <div class="listing">
        <div class="listing-art">
        <figure>
            <img src="{{ listingA }}" alt="project listing"/>
                <figcaption>Brief Caption</figcaption>
            </figure>
        </div>
        <div class="listing-text">
            <h3>Expanded title for project listing</h3>
            <p>One or two sentences on what people are looking at...</p>
            <button>See more</button>
        </div>
    </div>
    <div class="listing">
        <div class="listing-art">
        <figure>
            <img src="{{ listingA }}" alt="project listing"/>
                <figcaption>Brief Caption</figcaption>
            </figure>
        </div>
        <div class="listing-text">
            <h3>Expanded title for project listing</h3>
            <p>One or two sentences on what people are looking at...</p>
            <button>See more</button>
        </div>
    </div>
    <div class="listing">
        <div class="listing-art">
        <figure>
            <img src="{{ listingA }}" alt="project listing"/>
                <figcaption>Brief Caption</figcaption>
            </figure>
        </div>
        <div class="listing-text">
            <h3>Expanded title for project listing</h3>
            <p>One or two sentences on what people are looking at...</p>
            <button>See more</button>
        </div>
    </div>
    <div class="listing">
        <div class="listing-art">
        <figure>
            <img src="{{ listingA }}" alt="project listing"/>
                <figcaption>Brief Caption</figcaption>
            </figure>
        </div>
        <div class="listing-text">
            <h3>Expanded title for project listing</h3>
            <p>One or two sentences on what people are looking at...</p>
            <button>See more</button>
        </div>
    </div>
    
{% endblock home %}
