---
layout: "/layout/home.njk"
title: "MedicalStartup"
templateClass: "project"
description: "MedicalStartup"
p1: "/assets/img/p1.jpg"
p1b: "/assets/img/p1b.jpg"
mySlug: projects
permalink: "/{{ mySlug }}/medic.html"
---


{% block home %}
<article class="project-body">
    <section class="project-intro">
        <figure>
            <img src="{{ p1 }}" alt="casino site" loading="lazy"/>
            <figcaption>Minimal viable product for startup</figcaption>
        </figure>
        <ul>
            <li>Developer of HTML and CSS for existing product and MVP interfaces</li>
            <li>Created wireframes, mockups and user flows</li>
            <li>Used Photoshop, Illustartor and InDesign</li>
            <li>Used InVision and Marvel UX apps for prototypes and user flow</li>
            <li>Worked along side a small team of data analysts, backend developers and remote programmers</li>
            <li>Wrote and published product documentation</li>


        </ul>
    </section>

    <section class="project-text-eng">
        <h3>In-House UX/UI designer and interface developer for small NYC medical startup</h3>
        <p>In my time at the medical startup I got to enhance their existing B2B products and work on MVP for future products. I used a combination of handrolled CSS and the Bootstap framework to interate quickly through MVP cycles. Progress would be presented to management through such apps as InVision and Marvel.
        </p>
    </section>

    <section class="project-art">
        <figure>
            <img src="{{ p1b }}" alt="project image" loading="lazy"/>
            <figcaption class="heb">החייל מהסטילים
            </figcaption>
        </figure>
    </section>
    <section class="project-text-heb">

        <h3>
            UX/UI   עבודה בדפדפן ועיצוב לחברת סטארטאפ</h3>
        <p>שדרגתי את הממשקים הקיימים של חברת הסטארטאפ ועבדי על פיתוח מוצר בר קיימא מינימלי (MVP). העבודה נעשתה גם בתוכנות עיצוב (כמו פוטושופ) וגם בדפדפן. עבדתי עם מנהלי מוצר כדי להבין את הדרישות של המוצר ואז היצגתי את העיצוב לפני תחילת העבודה בדפדפן.
        </p>
    </section>
    <section class="project-text-heb">
        <ul>
            <li>פיתוח של  מוצר בר קיימא מינימלי</li>
            <li>עיצוב  מוצר בר קיימא מינימלי
            </li>
            <li>יסום  מוצר בר קיימא מינימלי בדפדפן
            </li>
            <li>נעזרתי באפליקציות לדימוי הממשקים שעצבתי לפני שלב היסום בדפדפן
            </li>
            <li>עבדתי בצוות של מפתחי צד-שרת, מפתחי בסיס נתונים, מנהלי מוצר ומנהלי שיווק
            </li>
            <li>תעדתי שימוש במוצרים ופיצ'רים חדשים שעלו
            </li>

        </ul>
    </section>
    <button aria-label="link to project">
        <a href="/">back</a>
    </button>
</article>{% endblock home %}