---
layout: "/layout/home.njk"
title: "JugglerApp"
templateClass: "project"
description: "JugglerApp"
p1: "/assets/img/p1.jpg"
p1b: "/assets/img/p1b.jpg"

---


{% block home %}
<article class="project-body">
    <section class="project-intro">
        <figure>
            <img src="{{ p1 }}" alt="casino site" loading="lazy"/>
            <figcaption>Landing page for App</figcaption>
        </figure>
        <ul>
            <li>Designed the layout that went into the landing page</li>
            <li>Designed the logo</li>
            <li>Photoshoped the main images on the homepage</li>
            <li>Searched through stock photography websites</li>
            <li>Created banners for Facebook</li>
            <li>Closely communicated with the client to understand their needs at every step of the project</li>
            <li>Copywriting in English language for app's landing page</li>
        </ul>
    </section>

    <section class="project-text-eng">

        <h3>Freelance graphic design project for a mobile app that helps busy people split the house chores</h3>
        <p>On this project I worked very closely with the app's owner who is also the product manager to hit the right tone for the logo. We went through many logo iterations until we felt we found the right one. I also worked on the app's landing page, designing and writing its copy. The client chose WIX for hosting, so as far as coding goes, it was truly minimal and relied on the WIX tooling.
        </p>
    </section>

    <section class="project-art">
        <figure>
            <img src="{{ p1b }}" alt="project image" loading="lazy"/>
            <figcaption>Brief Caption</figcaption>
        </figure>
    </section>
    <section class="project-text-heb">

        <h3>החייל מהסטילים שהפך לשף של קרם ברולה</h3>
        <p>שני בחורים בשנות ה-20 המוקדמות לחייהם מפעילים מיזם מחתרתי של קינוחי קרם ברולה בתוספות שונות, מתוך דירת חדר
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ביפו. לא מאמינים? גם אנחנו לא האמנו, עד שיצאנו לטעום וראינו בדיוק איך זה קורה. צפו</p>
    </section>
    <section class="projet-text-heb">
        <ul>
            <li>תקופת הקורונה הביאה איתה לא מעט מיזמי אוכל מעניינים</li>
            <li>סתיו איתם הוא חייל משוחרר מצפון הארץ ששירת בסטילים.</li>
            <li>שם, בבטן הספינה, היה מטבח קטן שבו החיילים היו מפהקים עצמם כל פעם במשהו אחר, בשביל לשמור על המוראל.
            </li>
            <li>כשהשתחרר מהצבא הוא עבד במסעדה, אבל אז הגיעה הקורונה והוא יצא לחל"ת.</li>
            <li>קרם ברולה זה קינוח שבדרך כלל לא נותנים לו את הכבוד המגיע לו. ומי לא אוהב קינוח</li>
            <li>סתיו איתם הוא חייל משוחרר מצפון הארץ ששירת בסטילים.</li>
        </ul>
    </section>
    <button aria-label="link to project">
        <a href="/">back</a>
    </button>
</article>{% endblock home %}