---
layout: "/layout/home.njk"
title: "JugglerApp"
templateClass: "project"
description: "JugglerApp"
p1: "/assets/img/p1.jpg"
p1b: "/assets/img/p1b.jpg"
mySlug: projects
permalink: "/{{ mySlug }}/mobapp.html"
---


{% block home %}
<article class="project-body">
    <section class="project-intro">
        <figure>
            <img src="{{ p1 }}" alt="casino site" loading="lazy"/>
            <figcaption>Landing page for App</figcaption>
        </figure>
        <ul>
            <li>Designed the layout that went into the landing page</li>
            <li>Designed the logo</li>
            <li>Photoshoped the main images on the homepage</li>
            <li>Searched through stock photography websites</li>
            <li>Created banners for Facebook</li>
            <li>Closely communicated with the client to understand their needs at every step of the project</li>
            <li>Copywriting in English language for app's landing page</li>
        </ul>
    </section>

    <section class="project-text-eng">

        <h3>Freelance graphic design project for a mobile app that helps busy people split the house chores</h3>
        <p>On this project I worked very closely with the app's owner who is also the product manager to hit the right tone for the logo. We went through many logo iterations until we felt we found the right one. I also worked on the app's landing page, designing and writing its copy. The client chose WIX for hosting, so as far as coding goes, it was truly minimal and relied on the WIX tooling.
        </p>
    </section>

    <section class="project-art">
        <figure>
            <img src="{{ p1b }}" alt="project image" loading="lazy"/>
            <figcaption>Brief Caption</figcaption>
        </figure>
    </section>
    <section class="project-text-heb">

        <h3>עיצוב גרפיקאי פרילאנס לסארטאפ
        </h3>
        <p>
            חברת סטארטאפ צעירה נזקקה לדף נחיתה לאפליקציה שלה. עצבתי את הלוגו של האפליקציה ואת דף הנחיתה. כתבתי את הטקסטים באנגלית. בימים אלה אנחנו עובדים על פיתוח קמפיין בפייסבוק עם באנרים וטקסטים קצרים וממוקדים.
        </p>
    </section>
    <section class="project-text-heb">
        <ul>
            <li>מיתוג הלוגו של האפליקציה</li>
            <li>עצוב דף הנחיתה של האפליקציה</li>
            <li>כתיבת קופירייטינג של דף הנחיתה בשפה האנלית
            </li>
            <li>סיקור של סטוקפוטוגרפי ועבודה בפוטושופ של התמונות הנבחרות</li>
            <li>עבודה צמודה אל הלקוח  כדי לוודא שהם מרוצים מכל צעד במהלך</li>
            <li>יצירת באנרים לקמפיין בפייסבוק</li>
        </ul>
    </section>
    <button aria-label="link to project">
        <a href="/">back</a>
    </button>
</article>{% endblock home %}