---
layout: "/layout/home.njk"
title: "NYD"
templateClass: "project"
description: "NYD"
p1: "/assets/img/p1.jpg"
p1b: "/assets/img/p1b.jpg"

---


{% block home %}
<article class="project-body">
    <section class="project-intro">
        <figure>
            <img src="{{ p1 }}" alt="casino site" loading="lazy"/>
            <figcaption>Landing page for App</figcaption>
        </figure>
        <ul>
            <li>Developer of HTML and CSS for international eCommerce site</li>
            <li>Improving the site’s UX/UI with new branding, improved buttons, icons & product menus</li>
            <li>Creating responsive CSS layout for mobile site</li>
            <li>Copywriting for products with strong emphases on SEO</li>
            <li>Email producer using Constant Contact and Bronto CRM</li>
            <li>Ensured cross browser compatibility with support for IE 8+9</li>
            <li>Used Photoshop and Illustrator to create marketing materials and online banners</li>
            <li>Oversaw site translation into several languages including into Arabic</li>

        </ul>
    </section>

    <section class="project-text-eng">

        <h3>In-House graphic designer and UI developer for NYC fashion eCommerce company</h3>
        <p>When I first started working at NYD I redesigned their company logo and homepage and from there quickly got started on marketing and advertising materials. For years management insisted on keeping the company's signature grey background color with the orange highlight, yet in 2017 they transitioned to more modern layout with different branding. For years I worked developing their UI using Photoshop, Illustrator and HTML with CSS.
        </p>
    </section>

    <section class="project-art">
        <figure>
            <img src="{{ p1b }}" alt="project image" loading="lazy"/>
            <figcaption>Brief Caption</figcaption>
        </figure>
    </section>
    <section class="project-text-heb">

        <h3>החייל מהסטילים שהפך לשף של קרם ברולה</h3>
        <p>שני בחורים בשנות ה-20 המוקדמות לחייהם מפעילים מיזם מחתרתי של קינוחי קרם ברולה בתוספות שונות, מתוך דירת חדר
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ביפו. לא מאמינים? גם אנחנו לא האמנו, עד שיצאנו לטעום וראינו בדיוק איך זה קורה. צפו</p>
    </section>
    <section class="projet-text-heb">
        <ul>
            <li>תקופת הקורונה הביאה איתה לא מעט מיזמי אוכל מעניינים</li>
            <li>סתיו איתם הוא חייל משוחרר מצפון הארץ ששירת בסטילים.</li>
            <li>שם, בבטן הספינה, היה מטבח קטן שבו החיילים היו מפהקים עצמם כל פעם במשהו אחר, בשביל לשמור על המוראל.
            </li>
            <li>כשהשתחרר מהצבא הוא עבד במסעדה, אבל אז הגיעה הקורונה והוא יצא לחל"ת.</li>
            <li>קרם ברולה זה קינוח שבדרך כלל לא נותנים לו את הכבוד המגיע לו. ומי לא אוהב קינוח</li>
            <li>סתיו איתם הוא חייל משוחרר מצפון הארץ ששירת בסטילים.</li>
        </ul>
    </section>
    <button aria-label="link to project">
        <a href="/">back</a>
    </button>
</article>{% endblock home %}