---
layout: "/layout/home.njk"
title: "NYD"
templateClass: "project"
description: "NYD"
p1: "/assets/img/nyd1.png"
p1b: "/assets/img/nyd2.jpg"
mySlug: projects
permalink: "/{{ mySlug }}/nydshop.html"
---


{% block home %}
<article class="project-body">
    <section class="project-intro">
        <figure>
            <img src="{{ p1 }}" alt="homepage screenshot" loading="lazy"/>
            <figcaption>Designed the home and product pages with banners</figcaption>
        </figure>
        <ul>
            <li>Developer of HTML and CSS for international eCommerce site</li>
            <li>Improving the site’s UX/UI with new branding, improved buttons, icons & product menus</li>
            <li>Creating responsive CSS layout for mobile site</li>
            <li>Copywriting for products with strong emphases on SEO</li>
            <li>HTML and CSS for email production using Constant Contact and Bronto CRM</li>
            <li>Ensured cross browser compatibility with support for IE 8+9</li>
            <li>Used Photoshop and Illustrator to create marketing materials and online banners</li>
            <li>Oversaw site translation into several languages including into Arabic</li>

        </ul>
    </section>

    <section class="project-text-eng">

        <h3>In-House graphic designer and UI developer for NYC fashion eCommerce company</h3>
        <p>When I first started working at NYD I redesigned their company logo and homepage and from there quickly got started on marketing and advertising materials. For years management insisted on keeping the company's signature grey background color with the orange highlight, yet in 2017 they transitioned to more modern layout with different branding. For years I worked developing their UI using Photoshop, Illustrator and HTML with CSS.
        </p>
    </section>

    <section class="project-art">
        <figure>
            <img src="{{ p1b }}" alt="product page screenshot" loading="lazy"/>
            <figcaption>Product page icons buttons</figcaption>
        </figure>
    </section>
    <section class="project-text-heb">

        <h3>עיצוב גרפיקאי בחברת סחר דיגיטלית</h3>
        <p>העבודה שלי התחלקה בין עיצוב גרפיקאי ומיתוג החברה לבין עיצוב האתר של החברה. בעלי החברה בקשו שהרקע האפור עם הצבע הכתום ישאר. הייתי אחראית גם על הדוא"ל של החברה שנעשה אז בעזרת CONSTANT CONTACT וגם BRONTO.</p>
    </section>
    <section class="project-text-heb">
        <ul>
            <li>עבודה עצוב באתר עם HTML וCSS</li>
            <li>שדרוג האתר עם באנרים, כפתורים וממשקים חדשים</li>
            <li>כתיבת טקסטים למוצרים עם דגש על SEO
            </li>
            <li>הפקת דוא"ל לחברה עם CONSTANT CONTACT וBRONTO</li>
            <li>שימוש בפוטושופ לייצר באנרים שרצו ברשתות החברתיות
            </li>
            <li>ניהלתי את הHTML וCSS לכל מהלך תרגום האתר לשפות אירופאיות רבות וגם לשפה הערבית
            </li>
        </ul>
    </section>
    <button aria-label="link to project">
        <a href="/">back</a>
    </button>
</article>{% endblock home %}