---
layout: "/layout/home.njk"
title: "project"
description: "project 1"
p1: "/assets/img/p1.jpg"
p1b: "/assets/img/p1b.jpg"

---


{% block home %}
<article class="project-body">
    <section class="project-intro">
        <figure>
            <img src="{{ p1 }}" alt="project one example" loading="lazy"/>
            <figcaption>Brief Caption</figcaption>
        </figure>
        <ul>
            <li>Chicken pork chop doner filet mignon cow turkey salami short ribs.</li>
            <li>Meatloaf porchetta shoulder, boudin biltong ribeye ham chicken doner pork loin cupim rump shank cow.
            </li>
            <li>Porchetta alcatra meatball bacon, prosciutto beef biltong.</li>
            <li>Pig jerky brisket drumstick ham pork belly chislic tenderloin bacon.
            </li>
            <li>Ham fatback brisket rump.</li>
            <li>Chicken pork chop doner filet mignon cow turkey salami short ribs.</li>
        </ul>
    </section>

    <section class="project-text-eng">

        <h3>How the Coronavirus is Killing the Middle Class</h3>
        <p>As the economic shutdown prompted by the pandemic stretches on, many who were already struggling to make ends
                                                                                                                                    meet have begun to feel the strains of debts without the assurance of income.</p>
    </section>

    <section class="project-art">
        <figure>
            <img src="{{ p1b }}" alt="project image" loading="lazy"/>
            <figcaption>Brief Caption</figcaption>
        </figure>
    </section>
    <section class="project-text-heb">

        <h3>החייל מהסטילים שהפך לשף של קרם ברולה</h3>
        <p>שני בחורים בשנות ה-20 המוקדמות לחייהם מפעילים מיזם מחתרתי של קינוחי קרם ברולה בתוספות שונות, מתוך דירת חדר
                                                                                                                                    ביפו. לא מאמינים? גם אנחנו לא האמנו, עד שיצאנו לטעום וראינו בדיוק איך זה קורה. צפו</p>
    </section>
    <section class="projet-text-heb">
        <ul>
            <li>תקופת הקורונה הביאה איתה לא מעט מיזמי אוכל מעניינים</li>
            <li>סתיו איתם הוא חייל משוחרר מצפון הארץ ששירת בסטילים.</li>
            <li>שם, בבטן הספינה, היה מטבח קטן שבו החיילים היו מפהקים עצמם כל פעם במשהו אחר, בשביל לשמור על המוראל.
            </li>
            <li>כשהשתחרר מהצבא הוא עבד במסעדה, אבל אז הגיעה הקורונה והוא יצא לחל"ת.</li>
            <li>קרם ברולה זה קינוח שבדרך כלל לא נותנים לו את הכבוד המגיע לו. ומי לא אוהב קינוח</li>
            <li>סתיו איתם הוא חייל משוחרר מצפון הארץ ששירת בסטילים.</li>
        </ul>
    </section>
    <button aria-label="link to project">
        <a href="/">back</a>
    </button>
</article>{% endblock home %}