---

layout: "layout/home.njk"
title: "skills"
description: "about everything we've ever done now"
mainImg: "/assets/img/about.png"
---

<article>
    <section>
        <span>
            <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewbox="0 0 50 50" width="50px" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
                <path d="M25,4L4,17.344v15.309L25,46l21-13.344V17.344L25,4z M25,29.184l-5.934-4.113L25,21.023l5.934,4.047L25,29.184z M27,17.605
                                                                                                                                               V9.949l13.43,8.535l-6.02,4.172L27,17.605z M23,17.605l-7.41,5.051l-6.02-4.172L23,9.949V17.605z M12.094,25.043L8,27.832v-5.629
                                                                                                                                               L12.094,25.043z M15.57,27.453L23,32.605v7.445L9.59,31.527L15.57,27.453z M27,32.605l7.43-5.152l5.98,4.074L27,40.051V32.605z
                                                                                                                                                M37.906,25.043L42,22.203v5.629L37.906,25.043z"/>
            </svg>
            <b>Codepen</b>
        </span>
        <span>
            <svg enable-background="new 0 0 64 64" height="64px" id="Layer_1" version="1.1" viewbox="0 0 64 64" width="64px" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
                <path d="M32,8C18.742,8,8,18.742,8,32c0,10.602,6.875,19.602,16.414,22.773c1.203,0.219,1.641-0.516,1.641-1.156
                                                                                                                               c0-0.57-0.023-2.078-0.031-4.078c-6.68,1.445-8.086-3.219-8.086-3.219c-1.094-2.773-2.664-3.516-2.664-3.516
                                                                                                                               c-2.18-1.484,0.164-1.453,0.164-1.453c2.406,0.172,3.672,2.469,3.672,2.469c2.141,3.672,5.617,2.609,6.984,2
                                                                                                                               c0.219-1.555,0.844-2.609,1.523-3.211c-5.328-0.602-10.93-2.664-10.93-11.859c0-2.625,0.938-4.766,2.469-6.445
                                                                                                                               c-0.242-0.602-1.07-3.047,0.234-6.352c0,0,2.016-0.641,6.602,2.461c1.914-0.531,3.969-0.797,6.008-0.805
                                                                                                                               c2.039,0.008,4.094,0.273,6.008,0.805c4.586-3.102,6.594-2.461,6.594-2.461c1.312,3.305,0.492,5.75,0.242,6.352
                                                                                                                               c1.539,1.68,2.461,3.82,2.461,6.445c0,9.219-5.609,11.242-10.953,11.844c0.859,0.734,1.625,2.203,1.625,4.438                                                                                                c0,3.211-0.023,5.797-0.023,6.586c0,0.641,0.43,1.391,1.648,1.156C49.133,51.594,56,42.602,56,32C56,18.742,45.258,8,32,8z"/>
            </svg>
            <b>GitHub</b>
        </span>
    </section>
    <section>
        <h3>Skills & Knowledge</h3>
        <h4>Graphics</h4>
        <ul>
            <li>Adobe PhotoShop</li>
            <li>Adobe Illustrator</li>
            <li>Adobe InDesign</li>
            <li>Adobe Premier Pro</li>
            <li>Adobe After Effects</li>
        </ul>
        <h4>UX Software</h4>
        <ul>
            <li>Adobe XD</li>
            <li>Figma</li>
            <li>InVision</li>
            <li>Marvel</li>

        </ul>
        <h4>Emailing Technologies</h4>
        <ul>
            <li>HTML, CSS for Email Production</li>
            <li>Bronto, Blackbaud</li>
        </ul>
        <h4>Other Exprience</h4>
        <ul>
            <li>Copywriting</li>
        </ul>
        <ul>
            <h4>MicroSoft</h4>
            <li>Word</li>
            <li>Excel</li>
            <li>PowerPoint</li>
        </ul>
        <ul>
            <h4>Task Managers</h4>
            <li>TFS</li>
            <li>Jira</li>
            <li>Trello</li>
        </ul>
        <h4>Code</h4>
        <ul>
            <li>HTML,CSS, JS</li>
            <li>Node SASS</li>
            <li>React</li>
            <li>NPM</li>
            <li>Wordpress Themes</li>
            <li>JSON</li>
            <li>SPA</li>
            <li>Git</li>
        </ul>
        <h4>Web</h4>
        <ul>
            <li>React</li>
            <li>Static Site Generators (Gatsby, 11ty)</li>
            <li>Wordpress</li>
            <li>MySQL</li>
        </ul>
    </section>

</article>