---

layout: "layout/home.njk"
title: "skills"
description: "about everything we've ever done now"
mainImg: "/assets/img/about.png"
---

<section>
    <p class="skills-text-eng">Curious about seeing other stuff?</p>
    <p class="skills-text-heb">רוצים לראות עוד?</p>
    <article>
        <h3>Graphics</h3>
        <ul>
            <li>Adobe PhotoShop</li>
            <li>Adobe Illustrator</li>
            <li>Adobe InDesign</li>
            <li>Adobe Premier Pro</li>
            <li>Adobe After Effects</li>
        </ul>
        <h3>UX Software</h3>
        <ul>
            <li>Adobe XD</li>
            <li>Figma</li>
            <li>InVision</li>
            <li>Marvel</li>

        </ul>
        <h3>Emailing Technologies</h3>
        <ul>
            <li>HTML, CSS for Email Production</li>
            <li>Bronto, Blackbaud</li>
        </ul>
        <h3>Other Exprience</h3>
        <ul>
            <li>Copywriting</li>
        </ul>
        <ul>
            <h3>MicroSoft</h3>
            <li>Word</li>
            <li>Excel</li>
            <li>PowerPoint</li>
        </ul>
        <ul>
            <h3>Task Managers</h3>
            <li>TFS</li>
            <li>Jira</li>
            <li>Trello</li>
        </ul>
        <h3>Code</h3>
        <ul>
            <li>HTML,CSS, JS</li>
            <li>Node SASS</li>
            <li>React</li>
            <li>NPM</li>
            <li>Wordpress Themes</li>
            <li>JSON</li>
            <li>SPA</li>
            <li>Git</li>
        </ul>
        <h3>Web</h3>
        <ul>
            <li>React</li>
            <li>Static Site Generators (Gatsby, 11ty)</li>
            <li>Wordpress</li>
            <li>MySQL</li>
        </ul>
    </article>

</section>