---
layout: "/layout/home.njk"
title: "TA"
templateClass: "words"
description: "TA"
p1: "/assets/img/p1.jpg"
p1b: "/assets/img/p1b.jpg"
mySlug: projects
permalink: "/{{ mySlug }}/taorg.html"
---


{% block home %}
<article class="project-body">
    <section class="project-text-eng">
        <h3>HTML & CSS email production for non-profit that promoted pedestrian and cyclist safety
        </h3>
        <p>I was responsible for all the official organizational email that TA sent out. Fundraisers and community board meetings that discussed street shut downs and traffic changes. The organization had numerous members and emails had to be segmented according to geography or engagement.
        </p>
    </section>
    <section class="project-text-eng">
        <ul>
            <li>Developing responsive HTML & CSS email templates</li>
            <li>Emails sent and managed with the Blackbaud Convio CRM</li>
            <li>Updating and improving email interfaces</li>
            <li>Conducting A/B testing for higher grossing email fundraisers</li>
            <li>Segmenting mailings by member status, constituency and engagement levels
            </li>
            <li>Frequently collaborated with membership directors and campaign managers, as well as copy editors and graphic designers</li>
            <li>Involved in writing the inner copy of emails from time to time
            </li>
        </ul>
    </section>


    <section class="project-text-heb">

        <h3>פיתוח HTML וCSS של דואר אלאקטרוני לאירגון עירוני</h3>
        <p>
            הייתי אחראית על לוח הזמנים של שליחת הדוא"ל וגם על תפקוד רספונסיבי של המייל. דאגתי שכל מייל שיוצא יהיה רספונסיבי ושמותאם מראש לקהל יעד שלו. קהל היעד נקבע בעזרת מיקוד או רמת האיטראקציה של היעד. ערכתי  מבחני המרה למטרות שיווק וכדי לעלות את רמת התרומות.
        </p>
    </section>
    <section class="project-text-heb">
        <ul>
            <li>פיתוח תבניות של דוא"ל רספונסיבי בHTML  ו-CSS
            </li>
            <li>שימוש במערכת "בלאקבוד קונביו" לשליחת מייל מבסיס נתונים של המערכת
            </li>
            <li>שדרוג ממשקי המייל למודרנים יותר
            </li>
            <li>ערכתי A/B TESTING כדי לגרוף יותר תרומות
            </li>
            <li>ערכתי סגמנטציות לקהל היעד של המייל ממערכת בסיס הנתונים הכלל ארגונית
            </li>
            <li>עבדתי לצד מעצבים ומנהלי שיווק ופיתוח
            </li>
            <li>מעורבות בכתיבת תוכן המייל
            </li>
        </ul>
    </section>
    <button aria-label="link to project">
        <a href="/">back</a>
    </button>
</article>{% endblock home %}