---
layout: "/layout/home.njk"
title: "Webmaster"
templateClass: "project"
description: "Webmaster at gaming company"
p1: "/assets/img/desk87.jpg"
p1b: "/assets/img/mob87.jpg"
mySlug: projects
permalink: "/{{ mySlug }}/ui888.html"
---


{% block home %}
<article class="project-body">
    <section class="project-intro">
        <figure>
            <img src="{{ p1 }}" alt="casino sites" loading="lazy"/>
            <figcaption>I worked on layout for all casino's pages (except B2C)</figcaption>
        </figure>
        <ul>
            <li>Coded HTML markup and CSS styling within an Angular app</li>
            <li>Used Node Sass to style components and solve bugs</li>
            <li>Ensured Cross browser compatibility & support for IE-11</li>
            <li>Closed bugs in Safari, Chrome for Android and iOS</li>
            <li>Used WebStorm IDE, Excel, Jenkins, Git Version Control, TFS and Nolio and Photoshop</li>
            <li>Interfaced with teams of management, designers, QA and developers</li>
            <li>Collaborated with B2C devs to ensure our classes didn't collide</li>
            <li>Agile work environment, sprints, iterations, retros, quarterly meetings and dailys</li>
        </ul>
    </section>

    <section class="project-text-eng">

        <h3>Being a webmaster at this company means doing a lot of HTML and CSS inside of an Angular app</h3>
        <p>At 888 I was an intergral part of the Orbit development team which was part of the larger ProTech division. My responsibility was to fix CSS layout bugs great and small for a wide range of platforms such as desktop to mobile tablet; mobile browser to mobile apps. iOS especially needed special attention as iOS safari can be so different than Chrome / Chrome for Android.
        </p>
    </section>

    <section class="project-art">
        <figure>
            <img src="{{ p1b }}" alt="mobile image" loading="lazy"/>
            <figcaption>Menu layouts - pre & post login</figcaption>
        </figure>
    </section>
    <section class="project-text-heb">

        <h3>ובמאסטר בחברת משחקים זה המון HTML ו CSS</h3>
        <p>כשהתחלתי לעבוד בחברה ב-2017 באתי בתור עובדת זמנית, אך נשארתי עד 2019. הייתי אחראית על סגירת כל הבאגים העיצוביים בכל דפי האתר של הקזינו מלבד הדפים של B2C. עבדתי לצד צוותי QA , מנהלי מוצר , למפתחי אנגולר וצוותי העיצוב. בינואר 2019 התחלתי לעבוד על העיצוב החדש של 777. לאחר סיום הפרויקט הזה פירקו את הצוות ותפקידים רבים עברו לחו"ל בין היתר התפקיד של ובמאסטר. עבדתי עם קבצי SASS והבאגים הגיעו ממכשירים ופלטפורמות מגוונים.</p>
    </section>
    <section class="project-text-heb">
        <ul>
            <li>
                FOCAL POINT  UI בצוות פיתוח אורביט במחלקת פרוטק
            </li>
            <li>שיחזור ותיקון באגים ב-UI באמצעות כתיבת CSS/SASS בסביבת פיתוח  Angular</li>
            <li>כשהשתחרר מהצבא הוא עבד במסעדה, אבל אז הגיעה הקורונה והוא יצא לחל"ת.</li>
            <li>החלפתי את קונפיגורטורית האתר לצורך חופשת הלידה שלה</li>
            <li>עבודה יומית עם GIT - PHOTOSHOP  -  WEBSTORM  –  NODE SASS  –  TFS – EXCEL – JENKINS
            </li>
            <li>שיתוף פעולה עם מחלקת B2C כדי שלא היו דריסות בקוד הCSS של קזינו</li>
            <li>הייתי צריכה להיות זמנית אך נשארתי שנה וחצי עד שהתפקיד שלי עבר לרומניה
            </li>
        </ul>
    </section>
    <button aria-label="link to project">
        <a href="/">back</a>
    </button>
</article>{% endblock home %}